<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="/fragments/header :: header">
    <meta charset="UTF-8">
    <title>상품 주문</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <h3 class="text-center">[상품 주문]</h3>
    </div>
    <form role="form" th:object="${orderForm}" th:action="@{/order}" method="post">
        <input th:for="itemId" th:field="${itemForm.itemId}" hidden>
        <div class="form-group">
            <label th:for="itemName" th:text="#{order.itemName}">주문 상품</label>
            <input type="text" th:field="${itemForm.itemName}" readonly class="form-control">
        </div>
        <div class="form-group">
            <label th:for="itemPrice" th:text="#{item.price}">가격</label>
            <input type="text" th:field="${itemForm.price}" readonly class="form-control">
        </div>
        <div class="form-group">
            <label th:for="itemQuantity" th:text="#{order.quantity}">주문 수량</label>
            <input type="text" th:field="${itemForm.quantity}" class="form-control">
        </div>
        <h3 class="text-center">[주문자 정보]</h3>
        <input th:for="memberId" th:field="${memberForm.memberId}" hidden>
        <div class="form-group">
            <label th:name="memberName" th:text="#{order.memberName}">주문자</label>
            <input type="text" th:field="${memberForm.memberName}" readonly class="form-control">
        </div>
        <div class="form-group">
            <label th:for="city" th:text="#{order.city}">배송 주소</label>
            <input type="text" th:field="${memberForm.address.city}" class="form-control">
        </div>
        <div class="form-group">
            <label th:for="specificAddress" th:text="#{order.specificAddress}">상세 주소</label>
            <input type="text" th:field="${memberForm.address.specificAddress}" class="form-control">
        </div>
        <div class="form-group">
            <label th:for="zipcode" th:text="#{order.zipcode}">우편 번호</label>
            <input type="text" th:field="${memberForm.address.zipcode}" class="form-control">
        </div>
        <button class="btn btn-sm btn-info" type="submit" th:text="#{button.order}">주문</button>
        <button class="btn btn-sm btn-secondary" type="button" th:onclick="|location.href='history.back'|">취소</button>
    </form>
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>