<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
    <div>
        <ul class="nav pull-right">
            <li class="navbar">
                <div th:if="${session.loginMember} != null"
                     th:text="|${session.loginMember.name}님 환영합니다.|">
                </div>
                <a class="nav-link active" aria-current="page" th:href="@{/}">
                    Home
                </a>
            </li>
        </ul>
        <h3 class="muted">
            Ala24 서점
        </h3>
    </div>
</div>
