<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="/fragments/header :: header">
    <meta charset="UTF-8">
    <title>Ala24</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="jumbotron">
        <div>
            <p class="lead">
                <h3>[회원 기능]</h3>
            </p>
            <div class="align-form">
                <a class="btn btn-lg btn-info" th:href="@{/order/list}">
                    주문 조회
                </a>
            </div>
            <div class="align-form">
                <a class="btn btn-lg btn-info" th:href="@{/members/cash}">
                    계좌 관리
                </a>
            </div>
            <div class="align-form">
                <form th:action="@{/logout}" method="post">
                    <button class="btn btn-lg btn-info" type="submit">
                        로그아웃
                    </button>
                </form>
            </div>
        </div>
        <div>
            <p class="lead">
                <h3>[상품 기능]</h3>
            </p>
            <div>
                <a class="btn btn-lg btn-secondary" th:href="@{/items/list}">
                    상품 조회
                </a>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>