<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Ala24</title>
</head>
<body>
    <div>Ala24.com</div>
    <div class="nav">
        <div>
            <form role="form" action="/logout" method="post">
                <button type="submit">
                    로그아웃
                </button>
            </form>
        </div>
        <div>
            <button type="button" th:onclick="|location.href='@{/members/list}'|">
                회원 조회
            </button>
        </div>
    </div>
</body>
</html>