<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="/fragments/header :: header">
    <meta charset="UTF-8">
    <title>로그인 화면</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <h3 class="text-center">
        [로그인]
    </h3>
    <form role="form" action="/login" th:object="${loginForm}" method="post">
        <div class="form-group">
            <label th:for="loginId">로그인 ID</label>
            <input type="text" th:field="*{loginId}" class="form-control" placeholder="아이디를 입력해주세요."
                   th:class="${#fields.hasErrors('loginId')}? 'form-control field-error' : 'form-control'">
            <p th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}">다시입력해주세요.</p>
        </div>
        <div class="form-group">
            <label th:for="password">비밀번호</label>
            <input type="password" th:field="*{password}" class="form-control" placeholder="비밀번호를 입력해주세요."
                   th:class="${#fields.hasErrors('password')}? 'form-control field-error' : 'form-control'">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">다시입력헤주세요</p>
        </div>
        <button class="btn btn-sm btn-info" type="submit">로그인</button>
        <button class="btn btn-sm btn-secondary" type="button" id="go-back">취소</button>
    </form>
    <div th:replace="fragments/script :: goBack"/>
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>