<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/fragments/header :: header">
    <meta charset="UTF-8">
    <title>아이템 목록 조회</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <table class="table table-striped table-bordered table-light">
        <h3 class="text-center">
            [상품 목록]
        </h3>
        <!--검색 기능-->
        <div class="form-group pull-right">
            <form th:object="${condition}">
                <div class="input-group mb-3">
                    <select th:field="*{condition}" class="btn btn-outline-secondary dropdown-toggle"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <option class="dropdown-menu" value="" selected hidden>검색</option>
                        <option th:each="status : ${T(com.ala24.bookstore.repository.condition.ItemSearchCondition).values()}"
                                th:value="${status}" th:text="${status.description}">선택
                        </option>
                    </select>
                    <input type="text" th:field="*{data}" class="w-50"/>
                    <button type="submit" class="btn btn-outline-secondary">검색</button>
                </div>
            </form>
        </div>
        <thead>
        <tr>
            <th>번호</th>
            <th>이름</th>
            <th>저자</th>
            <th>출판사</th>
            <th>가격</th>
            <th th:if="${loginMember.authority.toString()} == 'ADMIN'">재고</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td th:text="*{item.itemId}" hidden></td>
            <td th:text="${itemStat.count} + ${items.getSize()} * ${items.getNumber()}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.author}"></td>
            <td th:text="${item.publisher}"></td>
            <td th:text="${item.price}"></td>
            <td th:if="${loginMember.authority.toString()} == 'ADMIN'" th:text="${item.stockQuantity}"></td>
            <td>
                <a class="btn btn-info"
                   th:href="@{/order/{itemId} (itemId=${item.itemId})}" th:text="#{button.order}" role="button">
                    주문
                </a>
                <a class="btn btn-warning" th:if="${loginMember.authority.toString()} == 'ADMIN'"
                   th:href="@{/items/{itemId}/edit (itemId=${item.itemId})}" th:text="#{button.update}" role="button">
                    수정
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <!--페이지 버튼-->
    <nav th:with="start=${(items.number / maxPage) * maxPage + 1}">
        <ul class="pagination justify-content-center" th:object="${items}"
            th:with="end=${(items.totalPages == 0)? 1 :
                (start + (maxPage - 1) < items.totalPages?
                start + (maxPage - 1) : items.totalPages)}">
            <li th:class="page-item" th:if="${start > 1}">
                <a th:class="page-link" th:href="@{/items/list(page=0)}" th:text="'<<'"></a>
            </li>
            <li th:class="page-item" th:if="${start > 1}">
                <a th:class="page-link" th:href="@{/items/list(page=${start - maxPage})}" th:text="'<'"></a>
            </li>
            <li th:class="page-item" th:each="page: ${#numbers.sequence(start, end)}">
                <a th:class="page-link" th:href="@{/items/list(page=(${page} - 1))}" th:text="${page}"></a>
            </li>

            <li th:class="page-item" th:if="${end < items.totalPages}">
                <a th:class="page-link" th:href="@{/items/list(page=${start + maxPage} - 1)}" th:text="'>'"></a>
            </li>
            <li th:class="page-item" th:if="${end < items.totalPages}">
                <a th:class="page-link" th:href="@{/items/list(page=(${items.totalPages} - 1))}" th:text="'>>'"></a>
            </li>
        </ul>
    </nav>
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>